Perft testing up to depth 6 provided with these results

Depth 1: 20
Depth 2: 400
Depth 3: 8902
Depth 4: 197281
Depth 5: 4865609
Depth 6: 119060324

these are accurate and show a reliable legal move system